@light-blue: #abe4ed;
@grey: #828282;
@black-two: #393939;
@orange: #ff4600;
@cloudy: #d8e5e7;
@green: #48c858;
@dark-blue: #273583;
@shade: #f6f6f6;
@bluey-grey: #9ebabf;
@white: #ffffff;
@pale-grey: #f7fafa;
@white-two: #dddddd;
@black: #161616;