@import './colors.less';


:global {
    h1 {
        font-family: 'Open Sans';
        font-size: 30px;
        font-weight: bold;
        line-height: 1.33;
        text-align: left;
        color: #161616;
        color: @black
    }
    h2 {
        font-family: 'Open Sans';
        font-size: 26px;
        font-weight: bold;
        line-height: 1.23;
        text-align: left;
        color: #161616;
        color: @black
    }
    h3 {
        font-family: 'Open Sans';
        font-size: 20px;
        font-weight: bold;
        line-height: 1.3;
        text-align: left;
        color: #161616;
        color: @black
    }
    h4 {
        font-family: 'Open Sans';
        font-size: 16px;
        font-weight: bold;
        line-height: 1.5;
        text-align: left;
        color: #161616;
        color: @black
    }
    .Body-Bold {
        font-family: 'Open Sans';
        font-size: 14px;
        font-weight: bold;
        line-height: 1.64;
        text-align: left;
        color: #161616;
        color: @black
    }
    body {
        font-family: 'Open Sans';
        font-size: 14px;
        line-height: 1.64;
        text-align: left;
        color: #161616;
        color: @black
    }
    .Body-Grey {
        font-family: 'Open Sans';
        font-size: 14px;
        line-height: 1.64;
        text-align: left;
        color: #828282;
        color: var(--grey);
    }
    .Label-Bold {
        font-family: 'Open Sans';
        font-size: 13px;
        font-weight: bold;
        line-height: 1.62;
        text-align: left;
        color: #161616;
        color: @black
    }
    label {
        font-family: 'Open Sans';
        font-size: 13px;
        line-height: 1.62;
        text-align: left;
        color: #161616;
        color: @black
    }
    .Label-Tiny {
        font-family: 'Open Sans';
        font-size: 11px;
        line-height: 2.09;
        text-align: left;
        color: #828282;
        color: @grey;
    }
}