@import '../../../node_modules/antd/lib/style/themes/default.less';
@import './colors.less';

// -------- Colors -----------
@primary-color          : @blue-6;
@info-color             : @blue-6;
@success-color          : @green-6;
@error-color            : @red-6;
@highlight-color        : @red-6;
@warning-color          : @yellow-6;
@normal-color           : #d9d9d9;

@input-background       :#FFF;

