@import url('~styles/style.less');
@import url('~styles/mixins/centering.less');

.inputRow {
    .relativeCenteredParent();
    .absoluteCenteredParent();
    &:hover {
        cursor: pointer;
    }
    width: 100%;
    background: #EEE;
    position: relative;

    border-radius: 3px; 
    border: 1px solid #dfdfdf;
    box-shadow: 0px 1px 0px #d8e5e7
}

.labelWrapper {
    .absoluteCentered();
    width: 80px; // TODO: make it configurable trought the JS
    right: auto;
}

.label {
    .relativeCenteredParent();
    .relativeCentered();
    height: 100%;
    text-align: center;
    font-weight: bold;
    color: @primary-color;
    padding-left: 1em;
    padding-right: 1em;
    &:hover {
        cursor: pointer;
    }
}

.inputWrapper {
    .relativeCentered();
    width: 100%;
    overflow: hidden;
    input {
        // check this issue: https://github.com/Khan/aphrodite/issues/10
        // TODO: make it configurable trought the JS
        // or better require, that every input element would expose
        // inputClassName property.
        padding-left: 80px;
    }
    input:focus {
        outline: none;
        border: none;
        box-shadow: none;
    }
}