@import url('~styles/style.less');


.Sidebar {
    background: @white; //position: fixed;
    //height: 100% !important; //display: block;
}

@media (min-width: @screen-xs) {}

@media (min-width: @screen-sm) {
    .Sidebar {
      position: fixed;
      height: 100%;
    }
}

@media (min-width: @screen-sm) {
    @sidebarWidth: 400px;
    .Sidebar {
        width: @sidebarWidth;
    }
    .Content {
        margin-left: @sidebarWidth;
    }
}

@media (min-width: @screen-md) {
  @sidebarWidth: 500px;
  .Sidebar {
      width: @sidebarWidth;
  }
  .Content {
    margin-left: @sidebarWidth;
  }
}


@media (min-width: @screen-xl) {
  
  .Homepage {
      width: @screen-xl;
      margin-left: auto;
      margin-right: auto;
  }
}
