@import url('~styles/style.less');
.inputWrapper {
    .input {
        min-height: 60px;
        
        background-color: #FFF;
        
        border: none;
        cursor: pointer;
        font-size: 16px;
        font-weight: 600;
        &:hover {
            cursor: auto;
            background-color: #f7fafa;
        }
        &::placeholder{
            font-size: 12px;
            font-weight: 400;
        }
    }
    
    background-color: #FFF;
    &:hover {
        cursor: auto;
        background-color: #f7fafa;
    }
}