/* This parent can be any width and height */

.relativeCenteredParent() {
    text-align: center;
    /* May want to do this if there is risk the container may be narrower than the element inside */
    white-space: nowrap;
    /* The ghost, nudged to maintain perfect centering */
    &:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }
}

/* The element to be centered, can also be of any width and height */

.relativeCentered() {
    display: inline-block;
    vertical-align: middle;
}

.absoluteCenteredParent(){
    position: relative;
}

.absoluteCentered(){
    position: absolute;
    top: 0;
    bottom: 0;
    left:0;
    right:0;
    margin: auto;
}

